<!doctype html>
<html lang="en">
<head>
    <title>售后订单页面</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/query.css">
    <link rel = "stylesheet" href = "../fontawesome-6.4.0-web/css/all.min.css" />
</head>
<body>
<header>
    <div class="logo">
        <h1>嘉禾商城</h1>
    </div>
</header>
<div id = "nav">
    <nav v-if = "admin.identity === 0">
        <ul>
            <li @click = "goToCommodity"><a><i class = "fas fa-shopping-bag"></i>商品管理</a></li>
            <li @click = "goToOrder"><a><i class = "fas fa-list-alt"></i>订单管理</a></li>
            <li @click = "goToAftermarket"><a><i class = "fas fa-exchange-alt"></i>售后管理</a></li>
            <li @click = "goToAdminsManagement"><a><i class = "fas fa-shield-alt"></i>管理员账号管理</a></li>
            <li @click = "goToUsersManagement"><a><i class = "fas fa-shield-alt"></i>用户账号管理</a></li>
            <li @click = "goToPersonalInformation"><a><i class = "fas fa-user"></i>个人中心</a></li>
        </ul>
    </nav>
    <nav v-else-if = "admin.identity === 1">
        <ul>
            <li @click = "goToOrder"><a><i class = "fas fa-list-alt"></i>订单管理</a></li>
            <li @click = "goToPersonalInformation"><a><i class = "fas fa-user"></i>个人中心</a></li>
        </ul>
    </nav>
    <nav v-else-if = "admin.identity === 2">
        <ul>
            <li @click = "goToCommodity"><a><i class = "fas fa-shopping-bag"></i>商品管理</a></li>
            <li @click = "goToPersonalInformation"><a><i class = "fas fa-user"></i>个人中心</a></li>
        </ul>
    </nav>
    <nav v-else-if = "admin.identity === 3">
        <ul>
            <li @click = "goToAftermarket"><a><i class = "fas fa-exchange-alt"></i>售后管理</a></li>
            <li @click = "goToPersonalInformation"><a><i class = "fas fa-user"></i>个人中心</a></li>
        </ul>
    </nav>
    <nav v-else-if = "admin.identity === 4">
        <ul>
            <li @click = "goToUsersManagement"><a><i class = "fas fa-shield-alt"></i>用户账号管理</a></li>
            <li @click = "goToPersonalInformation"><a><i class = "fas fa-user"></i>个人中心</a></li>
        </ul>
    </nav>
</div>

<div id="content" class="content">

    <!--&lt;!&ndash;    添加表单&ndash;&gt;
    <el-dialog
            title="填写售后信息"
            :visible.sync="dialogVisible"
            width="50%">
        <el-form>
            <el-form-item label="订单id">
                <el-input v-model="aftermarket.orderId"></el-input>
            </el-form-item>
            <el-form-item label="原因">
                <el-input v-model="aftermarket.cause"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="add">确定添加</el-button>
                <el-button @click="dialogVisible = false">取消</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>-->

    <!--   修改表单-->
    <el-dialog
            title="修改售后信息"
            :visible.sync="dialogVisible1"
            width="50%">
        <el-form>
            <el-form-item label="原因">
                <el-input v-model="aftermarket.cause"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="update">确定修改</el-button>
                <el-button @click="dialogVisible1 = false">取消</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>


    <!--    表格-->
    <template>
        <el-table
                :data="marketList"
                border
                style="width: 100%">
            <el-table-column
                    prop="id"
                    label="商品id"
                    align="center"
            >
            </el-table-column>
            <el-table-column
                    prop="orderId"
                    label="订单id"
                    align="center">
            </el-table-column>
            <el-table-column
                    prop="cause"
                    label="原因"
                    align="center">
            </el-table-column>
            <el-table-column
                    prop="statusText"
                    label="状态"
                    align="center">
            </el-table-column>
            <el-table-column
                    label="操作"
                    align="center">
                <template slot-scope="scope">
                    <el-row>
                        <el-button type="primary" @click="searchUpdate(scope.row)" round>修改</el-button>
                        <el-button type="danger" @click="handleReturn(scope.row)">处理退货</el-button>
                    </el-row>
                </template>
            </el-table-column>
        </el-table>
    </template>

</div>

<script src="../js/vue.js"></script>
<script src="../element-ui/lib/index.js"></script>
<script src="../js/axios-0.18.0.js"></script>
<link rel="stylesheet" href="../element-ui/lib/theme-chalk/index.css">

<script>
    new Vue({
        el:"#content",

        methods: {
            //查询所有数据
            selectAll(){
                axios.get("/aftermarket/getAll").then((res) => {
                    res.data.data.forEach((item => {
                            if (item.status === 1){
                                item.statusText = "退货中"
                            }else if (item.status === 2){
                                item.statusText ="已处理"
                            }
                        }
                    ))
                    this.marketList = res.data.data;

                })
            },
            /*//点击添加按钮然后弹出添加框
            handleAdd(){
                this.dialogVisible = true
                this.resetAddForm()
            },*/
            /*//重置添加表单
            resetAddForm(){
                this.aftermarket = {}
            },*/
            /*//添加表单确定添加后执行的办法
            add() {
                axios.post("/aftermarket/add",this.aftermarket).then((res) => {
                    if(res.data.code == 20011){//添加成功的情况
                        this.dialogVisible = false;
                        this.$message.success(res.data.msg)
                    }else if (res.data.code == 20012){//添加失败的情况
                        this.$message.error(res.data.msg)
                        this.resetAddForm();
                    }else {//出现位置异常时
                        this.$message.error(res.data.msg)
                        this.resetAddForm();
                    }
                }).finally(
                    ()=>{
                        this.selectAll();
                    }
                )
            },*/

            //删除单条数据
            handleReturn(row) {
                this.returnList = row
                axios.post("/aftermarket/delete",this.returnList).then((res) => {
                    if(res.data.code == 20021){//成功
                        this.$message.success(res.data.msg)
                    }else if (res.data.code == 20022){//失败
                        this.$message.error(res.data.msg)
                    }else {//未知异常
                        this.$message.error(res.data.msg)
                    }
                }).finally(
                    ()=>{
                        this.selectAll();
                    }
                )
            },

            //回显数据修改
            searchUpdate(row){
                this.aftermarket = row;
                this.dialogVisible1=true;
            },

            //更新数据
            update(){
                axios.put("/aftermarket/update",this.aftermarket).then((res) => {
                    if(res.data.code == 20041){
                        this.$message.success(res.data.msg)
                    }else if (res.data.code == 20042){
                        this.$message.error(res.data.msg)
                    }else {
                        this.$message.error(res.data.msg)
                    }
                }).finally(
                    ()=>{
                        this.selectAll();
                    }
                )
                this.dialogVisible1 = false;
            },
        },

        //钩子函数，进去页面就会执行查询所有
        created(){
            this.selectAll()
        },


        data() {
            return {
                /*//添加弹窗默认为不可见
                dialogVisible: false,*/

                dialogVisible1:false,

                aftermarket: {
                    orderId:null,
                    cause:'',
                },

                marketList:[],

                returnList:{}
            }
        }
    })

    new Vue({
        el: "#nav",

        data() {
            return {
                admin: {
                }
            }
        },

        mounted() {
            axios.get("/adminsManagement/getLoginAdmin").then((resp) => {
                if (resp.data.code === 20031)
                    this.admin = resp.data.data
            })
        },

        methods: {
            goToCommodity(){
                window.location.href = "commodity.html"
            },

            goToAftermarket(){
                window.location.href = "aftermarket.html"
            },

            goToOrder(){
                window.location.href = "order.html"
            },

            goToAdminsManagement(){
                window.location.href = "adminsManagement.html"
            },

            goToUsersManagement(){
                window.location.href = "usersManagement.html"
            },

            goToPersonalInformation() {
                window.location.href = "personalInformation.html"
            }
        }
    })
</script>

</body>
</html>