<!doctype html>
<html lang="en">
<head>
    <title>用户管理页面</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/query.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<header>
    <div class="logo">
        <h1>嘉禾商城</h1>
    </div>
</header>
<div id="nav">
    <nav v-if="user.identity === 0">
        <ul>
            <li @click="goToCommodity"><a><i class="fas fa-shopping-bag"></i>商品管理</a></li>
            <li @click="goToOrder"><a><i class="fas fa-list-alt"></i>订单管理</a></li>
            <li @click="goToAftermarket"><a><i class="fas fa-exchange-alt"></i>售后管理</a></li>
            <li @click="goToUserManagement"><a><i class="fas fa-shield-alt"></i>权限管理</a></li>
            <li @click="goToPersonalInformation"><a><i class="fas fa-user"></i>个人中心</a></li>
        </ul>
    </nav>
    <nav v-else-if="user.identity === 1">
        <ul>
            <li @click="goToOrder"><a><i class="fas fa-list-alt"></i>订单管理</a></li>
            <li><a><i class="fas fa-user"></i>个人中心</a></li>
        </ul>
    </nav>
    <nav v-else-if="user.identity === 2">
        <ul>
            <li @click="goToCommodity"><a><i class="fas fa-shopping-bag"></i>商品管理</a></li>
            <li><a><i class="fas fa-user"></i>个人中心</a></li>
        </ul>
    </nav>
    <nav v-else-if="user.identity === 3">
        <ul>
            <li @click="goToAftermarket"><a><i class="fas fa-exchange-alt"></i>售后管理</a></li>
            <li><a href=""><i class="fas fa-user"></i>个人中心</a></li>
        </ul>
    </nav>
</div>

<div id="content" class="content">
<!--    添加表单-->
    <el-dialog
            title="添加用户"
            :visible.sync="dialogVisible"
            width="50%">
        <el-form ref="form" :model="addUser" label-width="80px">
            <el-form-item label="用户名">
                <el-input v-model="addUser.username"></el-input>
            </el-form-item>
            <el-form-item label="密码">
                <el-input v-model="addUser.password"></el-input>
            </el-form-item>
            <el-form-item label="权限">
                <el-select v-model="addUser.identity" placeholder="请选择权限">
                    <!--0-总管理；1-订单管理员；2-商品管理员；3-售后管理员-->
                    <el-option label="总管理员" value="0"></el-option>
                    <el-option label="订单管理员" value="1"></el-option>
                    <el-option label="商品管理员" value="2"></el-option>
                    <el-option label="售后管理员" value="3"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="add">确定添加</el-button>
                <el-button @click="dialogVisible = false">取消</el-button>
            </el-form-item>
        </el-form>
  </span>
    </el-dialog>

<!--    修改表单-->
    <el-dialog
            title="修改用户"
            :visible.sync="dialogVisible1"
            width="50%">
        <el-form ref="form" :model="updateUser" label-width="80px">
            <el-form-item label="用户名">
                <el-input v-model="updateUser.username"></el-input>
            </el-form-item>
            <el-form-item label="密码">
                <el-input v-model="updateUser.password"></el-input>
            </el-form-item>
            <el-form-item label="权限">
                <el-select v-model="updateUser.identity" placeholder="请选择权限">
                    <!--0-总管理；1-订单管理员；2-商品管理员；3-售后管理员-->
                    <el-option label="总管理员" value="0"></el-option>
                    <el-option label="订单管理员" value="1"></el-option>
                    <el-option label="商品管理员" value="2"></el-option>
                    <el-option label="售后管理员" value="3"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="update">确定修改</el-button>
                <el-button @click="dialogVisible1 = false">取消</el-button>
            </el-form-item>
        </el-form>
        </span>
    </el-dialog>

<!--    搜索表单-->
    <el-form :inline="true" :model="searchUser" class="demo-form-inline">
        <el-form-item label="用户id">
            <el-input v-model="searchUser.id" placeholder="用户id"></el-input>
        </el-form-item>
        <el-form-item label="用户名">
            <el-input v-model="searchUser.username" placeholder="用户名"></el-input>
        </el-form-item>
        <el-form-item label="权限">
            <el-select v-model="searchUser.identity" placeholder="权限">
                <el-option label="总管理员" value="0"></el-option>
                <el-option label="订单管理员" value="1"></el-option>
                <el-option label="商品管理员" value="2"></el-option>
                <el-option label="售后管理员" value="3"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="search">查询</el-button>
        </el-form-item>
    </el-form>

    <!--    表格-->
    <template>
        <el-table
                :data="tableData"
                border
                style="width: 100%"
                @selection-change="handleSelectionChange"
                :default-sort="{prop: 'date', order: 'descending'}">
            <el-table-column
                    type="selection"
                    align="center"
                    sortable
                    min-width="10%">
            </el-table-column>
            <el-table-column
                    prop="id"
                    label="用户id"
                    align="center"
                    sortable
                    min-width="15%">
            </el-table-column>
            <el-table-column
                    prop="username"
                    label="用户名"
                    align="center"
                    sortable
                    min-width="15%">
            </el-table-column>
            <el-table-column
                    prop="password"
                    label="用户密码"
                    align="center"
                    sortable
                    min-width="15%">
            </el-table-column>
            <el-table-column
                    prop="identity"
                    label="用户权限"
                    align="center"
                    sortable
                    min-width="15%"
                    :formatter="formatIdentity">
            </el-table-column>
            <el-table-column
                    label="操作"
                    align="center"
                    min-width="30%">
                <template slot-scope="scope">
                    <el-row>
                        <el-button type="primary" @click="searchUpdateUser(scope.row)" round>编辑</el-button>
                        <el-button type="danger" @click="deleteUser(scope.row)">删除</el-button>
                    </el-row>
                </template>
            </el-table-column>
        </el-table>

        <el-row class="block">
            <el-button type="primary" @click="handleAdd">新增用户</el-button>
            <el-button type="danger" @click="deleteBatchUser">批量删除</el-button>
            <el-button type="primary" @click="resetAddForm">刷新</el-button>
            <el-pagination
                    @current-change="handleCurrentChange"
                    :current-page.sync="pagination.page"
                    :page-size="pagination.size"
                    layout="total, prev, pager, next"
                    :total="pagination.total">
            </el-pagination>
        </el-row>
    </template>

<!--    功能菜单-->



</div>

<script src="js/vue.js"></script>
<script src="element-ui/lib/index.js"></script>
<script src="js/axios-0.18.0.js"></script>
<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">

<script>
    new Vue({
        el:"#content",

        methods: {

            //查询所有数据
            selectAll() {
                axios.get("/userManagement/" + this.pagination.current + "/" + this.pagination.pageSize).then((res) => {

                    this.tableData = res.data.data.records;
                    this.pagination.total = res.data.data.total;
                    this.pagination.pageSize = res.data.data.size;
                    this.pagination.current = res.data.data.current;
                })
            },

            //搜索表单点击查询之后执行的办法
            search() {
                axios.get("/userManagement/search", this.searchUser).then((res) => {
                    this.tableData = res.data.data;
                    this.$message.success(res.data.msg)
                })
            },
            //分页换页
            handleCurrentChange(val) {
                this.pagination.page = val
                this.selectAll()
            },

            //复选框选中之后执行的办法
            handleSelectionChange(val) {
                this.multipleSelection = val;
            },

            //点击添加按钮然后弹出添加框
            handleAdd() {
                this.dialogVisible = true
                this.resetAddForm()
            },

            //重置添加表单
            resetAddForm() {
                this.addUser = {}
            },

            //添加表单确定添加后执行的办法
            add() {
                axios.post("/userManagement/add",this.addUser).then((res) => {
                    if (res.data.code == 20011) {//添加成功的情况
                        this.dialogVisible = false;
                        this.$message.success(res.data.msg)
                    } else if (res.data.code == 20012) {//添加失败的情况
                        this.$message.error(res.data.msg)
                        this.resetAddForm();
                    } else {//出现位置异常时
                        this.$message.error(res.data.msg)
                        this.resetAddForm();
                    }
                }).finally(
                    () => {
                        this.selectAll();
                    }
                )
            },

            //根据所选用户id删除单条数据
            deleteUser(row) {
                let id = row.id;
                axios.delete("/userManagement/delete/" + id).then((res) => {
                    if (res.data.code === 20021) {//成功
                        this.$message.success(res.data.msg)
                    } else if (res.data.code === 20022) {//失败
                        this.$message.error(res.data.msg)
                    } else {//未知异常
                        this.$message.error(res.data.msg)
                    }
                }).finally(
                    () => {
                        this.selectAll();
                    }
                )
            },

            //批量删除数据
            deleteBatchUser() {
                this.$confirm('此操作将批量删除用户, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios.delete("/userManagement/delete", this.multipleSelection).then((res) => {
                        if (res.data.code == 20021) {//成功
                            this.$message.success(res.data.msg)
                        } else if (res.data.code == 20022) {//失败
                            this.$message.error(res.data.msg)
                        } else {//未知异常
                            this.$message.error(res.data.msg)
                        }
                    }).finally(
                        () => {
                            this.selectAll();
                        }
                    )
                })
            },

            //根据用户id查找要修改的用户信息并回显到修改表上
            searchUpdate(row) {
                let id = row.id;
                axios.get("/userManagement/search/" + id).then((res) => {
                    this.updateUser = res.data.data;
                })
                this.dialogVisible1 = true;
            },

            //更新数据
            update() {
                axios.put("/userManagement/update", this.updateUser).then((res) => {
                    if (res.data.code == 20041) {
                        this.$message.success(res.data.msg)
                    } else if (res.data.code == 20042) {
                        this.$message.error(res.data.msg)
                    } else {
                        this.$message.error(res.data.msg)
                    }
                }).finally(
                    () => {
                        this.selectAll();
                    }
                )
                this.dialogVisible1 = false;
            },

            //将数据库存User表存的identify装换为对应的状态
            formatIdentify(row, column, cellValue) {
                if (cellValue == 0) {
                    return "总管理员";
                } else if (cellValue == 1) {
                    return "订单管理员";
                } else if (cellValue == 2) {
                    return "商品管理员";
                } else if (cellValue == 3) {
                    return "售后管理员";
                }
            },

            //钩子函数，进去页面就会执行查询所有
            created() {
                this.selectAll()
            }
        },


        data() {
            return {
                //添加弹窗默认为不可见
                dialogVisible: false,

                //修改弹窗默认不可见
                dialogVisible1: false,

                //添加表单
                addUser: {
                },

                //修改表单
                updateUser: {
                },

                //搜索表单数据
                searchUser: {
                },

                //表格数据
                tableData: [],

                //复选框选中的数据集合
                multipleSelection:[],

                //分页所需数据
                pagination: {
                    current: "1",
                    pageSize: "8",
                    total: ""
                },
            }
        }
    })
    new Vue({
        el:"#nav",
        data() {
            return {
                user: {
                }
            }
        },
        created() {
            const userInfo = window.localStorage.getItem("userInfo")
            if (userInfo){
                this.user = JSON.parse(userInfo);
            }
            console.log(this.user)
        },

        methods: {
            goToCommodity(){
                window.location.href = "commodity.html"
            },
            goToAftermarket(){
                window.location.href = "aftermarket.html"
            },
            goToOrder(){
                window.location.href = "order.html"
            },
            goToUserManagement(){
                window.location.href = "userManagement.html"
            },
            goToPersonalInformation() {
                window.location.href = "personalInformation.html"
            }
        }
    })
</script>

</body>
</html>