<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <title>商品详情页面</title>
    <link rel = "stylesheet" href = "../css/commodityDetail.css">
</head>

<body>
<div id = "app">
    <el-container>
        <el-header>
            <el-menu class = "el-menu-demo" mode = "horizontal" :default-active = "activeIndex" background-color = "#202124"
                     text-color = "#fff" active-text-color = "#ffd04b">
                <el-menu-item index = "1">
                    <i class = "el-icon-s-goods"></i>
                    <a href = "./homepage.html" target = "_blank">首页</a>
                </el-menu-item>
                <el-menu-item index = "2">
                    <i class = "el-icon-shopping-cart-2"></i>
                    <a href = "./shoppingCart.html" target = "_blank">购物车</a>
                </el-menu-item>
                <a v-if = "!isLogin" class = "users" @click = "login">登录</a>
                <a v-if = "isLogin" class = "users-right" @click = "logout">退出登录</a>
                <a v-if = "isLogin" class = "users" href = "usersHome.html">个人中心</a>
            </el-menu>
        </el-header>
        <el-container>
            <el-container>
                <el-main>
                    <div class = "main-top">
                        <img src = "../images/logo.png">
                        <el-form :inline = "true" :model = "searchForm" class = "demo-form-inline">
                            <el-form-item class = "input-search">
                                <el-col :span = "8">
                                    <el-input v-model = "description" placeholder = "搜索"></el-input>
                                </el-col>
                            </el-form-item>
                            <el-form-item>
                                <el-button icon = "el-icon-search" @click = "search">搜索</el-button>
                            </el-form-item>
                        </el-form>

                    </div>
                    <el-breadcrumb separator="/">
                        <el-breadcrumb-item><a href="#">首页</a></el-breadcrumb-item>
                        <el-breadcrumb-item><a href="#">商品详情</a></el-breadcrumb-item>
                    </el-breadcrumb>
                    <div class="main-button">
                        <div class="main-left">
                            <img :src = "getImage(commodity.image)"
                                 class = "image">
                        </div>
                        <div class="main-right">
                            <div class="font" v-text="commodity.detailedDescription">
                            </div>
                            <div class="price">
                                <div class="priceFont">
                                    <div class="inner">价格：</div>
                                    <div class="inner-left" v-text="commodity.price"></div>

                                </div>
                                <div class="priceFont">
                                    <div class="inner">折扣：</div>
                                    <div class="inner-left" v-text="commodity.discountText"></div>
                                </div>
                                <div class="priceFont">
                                    <div class="inner">折后价：</div>
                                    <div class="inner-left" v-text="commodity.afterPrice"></div>
                                </div>
                            </div>

                            <div>
                                <div class="inner">配送至 </div>
                                <div class="inner-left">
                                    <el-select v-model="order.addressId" placeholder="请选择" style="width: 450px">
                                        <el-option
                                                v-for="item in options"
                                                :key="item.value"
                                                :label="item.label"
                                                :value="item.value">
                                        </el-option>
                                    </el-select>
                                </div>

                            </div>
                            <div>
                                <div class="transportFee">
                                    退货包运费 全场包邮 七天无理由退货
                                </div>

                            </div>
                            <div class="button">
                                <div class="inner">选择规格： </div>
                                <div>
                                    <div class="inner-left" v-for="item in allSize">
                                        <el-radio-group
                                                v-model="size" @change="onChange">
                                            <el-radio-button
                                                :label="item.size"
                                                border
                                            >{{item.size}}
                                            </el-radio-button>
                                        </el-radio-group>

                                    </div>

                                </div>
                            </div>

                            <div class="count-num">
                                <el-input-number v-model="num" :min="1" :max="10" label="描述文字"></el-input-number>
                            </div>

                            <div class="button">
                                <el-row>
                                    <el-button size="medium" type="warning" @click="submit">购买</el-button>
                                    <el-button size="medium" type="danger" @click="addShoppingCart">加入购物车</el-button>
                                </el-row>
                            </div>
                        </div>
                    </div>
                </el-main>
            </el-container>
        </el-container>
    </el-container>
</div>

<script src = "../js/vue.js"></script>
<script src = "../element-ui/lib/index.js"></script>
<script src = "../js/axios-0.18.0.js"></script>
<link rel = "stylesheet" href = "../element-ui/lib/theme-chalk/index.css">

<script>
    new Vue({
        el: "#app",

        data() {
            return {
                orderDetail:{
                    status:0,
                },
                order:{
                    status:0,
                    orderCommodityList:[]
                },
                searchForm: {
                },
                num:1,

                activeIndex: '1',

                orderDetail:{},

                radio1:"",

                commodity:"",

                user:{
                },

                isLogin: false,

                allSize:[],

                options: [],

                description:"",

                size:"",
            }
        },

        methods: {
            submit(){
                this.allSize.forEach((item) => {
                    if (this.commodity.size == item.size){
                        this.orderDetail.commodityId = item.id
                        console.log(this.commodity)
                    }
                })
                this.orderDetail.count = this.num
                this.orderDetail.originalPrice= this.commodity.price
                this.orderDetail.price=this.commodity.afterPrice
                this.orderDetail.priceSum=this.commodity.afterPrice*this.num.toFixed(2)
                this.order.orderCommodityList.push(this.orderDetail)
                this.order.userId = this.user.id
                this.order.count=0
                this.order.sum=0
                console.log(this.order)
                axios.post("/order/submitOrder",this.order).then((res) => {

                })
            },

            onChange() {
                console.log(this.size)
                this.allSize.forEach((item) => {
                    if (item.size == this.size){
                        this.commodity = item
                        if(this.commodity.discount < 1){
                            this.commodity.discountText = (this.commodity.discount*10)+"折"
                        }else if (this.commodity.discount === 1){
                            this.commodity.discountText= "暂无折扣"
                        }
                        this.commodity.afterPrice=(this.commodity.price*this.commodity.discount).toFixed(2)
                        console.log(this.commodity)
                    }
                })
            },
            // 加入购物车
            addShoppingCart () {
                console.log('this.commodity.id', this.commodity.id)
                console.log('this.user.id', this.user.id)
                console.log('this.num', this.num)
                axios({
              url: '/order/addShoppingCart',
              params: {
                commodityId: this.commodity.id,
                userId: this.user.id,
                count: this.num,
              },
              method: 'post',
            }).then((res) => {
                console.log('res', res)
                if (res.data.code === 20021) {
                  this.$message({
                    message: '加入购物车成功',
                    type: 'success',
                  })
                } else {
                  this.$message({
                    message: '加入购物车失败',
                    type: 'error',
                  })
                }
                })
            },

            search() {
                //加码
                this.description = escape(this.description)
                window.location.href="searchPage.html?description="+this.description
            },

            getImage(image){
                return `/common/download?name=${image}`
            },

            getCommodity(id){
                axios.get("/commodity/"+id).then((res) => {
                    this.commodity = res.data.data;
                    if(this.commodity.discount < 1){
                        this.commodity.discountText = (this.commodity.discount*10)+"折"
                    }else if (this.commodity.discount === 1){
                        this.commodity.discountText= "暂无折扣"
                    }
                    this.commodity.afterPrice=(this.commodity.price*this.commodity.discount).toFixed(2)
                    this.getSize()
                })
            },

            getSize(){
                console.log(this.commodity)
                axios.post("/commodity/size",this.commodity).then((res) => {
                    this.allSize = res.data.data
                })
            },

            getAddress(id){
                axios.get("/usersAddress/searchPersonalAll/"+id).then((res) => {
                    res.data.data.forEach((item) => {
                        if (item.isDefault == 0){
                            this.order.addressId=item.id
                        }
                        this.options.push(
                            {
                                label:item.contacts+"\t"+item.location,
                                value:item.id
                            }
                        )
                    })
                })
            },

            login() {
                window.localStorage.setItem("prePage", window.location.href)
                window.location.href = "usersLogin.html"
            },

            logout() {
                axios.get("/usersManagement/logout").then((resp) => {
                    if (resp.data.code === 20061) {
                        this.$message({showClose: true, message: resp.data.msg, type: "success"})
                        window.location.href = "homepage.html"
                    }
                    else if (resp.data.code === 20062)
                        this.$message({showClose: true, message: resp.data.msg, type: "error"})
                    else
                        this.$message({showClose: true, message: resp.data.msg, type: "error"})
                })
            }

        },

        mounted(){
            //获取用户信息
            axios.get("/usersManagement/getLoginUser").then((resp) => {
                if (resp.data.code === 20031)
                    this.user = resp.data.data
                    this.getAddress(this.user.id)
                    console.log(this.user)
                if (this.user !== null)
                    this.isLogin = true
            })
            const params = window.location.search
            const id = params.split("=")[1]
            this.getCommodity(id)
        }
    })
</script>
</body>
</html>