<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>付款页面</title>
    <link rel="stylesheet" href="../css/homepage.css" />
    <link rel="stylesheet" href="../css/payment.css" />
  </head>

  <body>
    <div id="app" >
      <el-container>
<!--        <el-header>-->
<!--          <el-menu-->
<!--            class="el-menu-demo"-->
<!--            mode="horizontal"-->
<!--            :default-active="activeIndex"-->
<!--            background-color="#202124"-->
<!--            text-color="#fff"-->
<!--            active-text-color="#ffd04b"-->
<!--          >-->
<!--            <a v-if="!isLogin" class="users">登录</a>-->
<!--            <a v-if="isLogin" class="users-right">退出登录</a>-->
<!--            <a v-if="isLogin" class="users" href="usersHome.html">个人中心</a>-->
<!--          </el-menu>-->
<!--        </el-header>-->
        <el-main>
          <div class="payment">
            <div class="payment-head">
              <div>
                待付款
              </div>
            </div>
            <div v-for="item of orderInfo.orderCommodityList" :key="item.id" class="payment-item">
              <div style="padding-top: 15px">
                <el-image style="width: 170px; height: 170px" :src="item.image" fit="fill"></el-image>
              </div>
              <div class="payment-text" @click="onViewCommodity(item.commodityId)">
                <div style="line-height: 120px; font-weight: bold; font-size: 22px">{{ item.commodityName }}</div>
                <div style="line-height: 30px">品牌：{{ item.brandName }}</div>
                <div style="line-height: 30px">规格：{{ item.size }}</div>
              </div>
              <div class="payment-price">
                <div style="padding-top: 80px">数量：{{ item.count }}</div>
                <div style="padding-top: 30px; color: red">价格：{{ item.priceSum }}</div>
              </div>
            </div>
            <div class="payment-foot">
              <div>
                订单信息
              </div>
            </div>
          </div>
        </el-main>
      </el-container>
    </div>

    <script src="../js/vue.js"></script>
    <script src="../element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script src="../js/axios-0.18.0.js"></script>
    <link rel="stylesheet" href="../element-ui/lib/theme-chalk/index.css" />

    <script>
      new Vue({
        el: '#app',

        methods: {
          getAddress(id) {
            axios.get('/usersAddress/searchUpdateAddress/' + id).then(res => {
              res.data.data.forEach((item) => {
                if (item.isDefault == 0) {
                  this.order.addressId = item.id
                }
                this.options.push({
                  label: item.contacts + '\t' + item.location,
                  value: item.id,
                })
              })
            })
          },
          selectOrderDetail(id) {
            axios({
              url: '/order/selectOrderDetailById',
              params: {
                id: id,
              },
            }).then(res => {
              this.orderInfo = res.data.data
              this.orderInfo.submitTime = dayjs(this.orderInfo.submitTime).format('YYYY-MM-DD HH:mm:ss')
              this.orderInfo.price = this.orderInfo.price.toFixed(2) + '元'
              this.orderInfo.originalPrice = this.orderInfo.originalPrice.toFixed(2) + '元'
              this.orderInfo.sum = this.orderInfo.sum + '份'
              this.orderInfo.count = this.orderInfo.count + '种'
              this.orderInfo.orderCommodityList.forEach(item => {
                if (item.status === 0) {
                  item.statusText = '未支付'
                } else if (item.status === 1) {
                  item.statusText = '未发货'
                } else if (item.status === 2) {
                  item.statusText = '已发货'
                } else if (item.status === 3) {
                  item.statusText = '已完成'
                } else if (item.status === 4) {
                  item.statusText = '退货中'
                }else if (item.status === 5) {
                  item.statusText = '已受理'
                }
                item.price = item.price.toFixed(2) + '元'
                item.originalPrice = item.originalPrice.toFixed(2) + '元'
                item.priceSum = item.priceSum.toFixed(2) + '元'
                item.count = item.count + '份'
          this.getAddress(this.orderInfo.addressId)
              })
            })
          },
        },

        created() {
            const params = window.location.search
            const id = params.split("=")[1]
            console.log("id", id)
            this.selectOrderDetail(id)
        },

        data() {
          return {
            orderInfo: {
              submitTime: '2023-01-01 00:00:00',
              price: 0,
              originalPrice: 0,
              sum: 0,
              count: 0,
              orderCommodityList: [
                {
                  count: 0,
                  price: 0,
                  originalPrice: 0,
                  priceSum: 0,
                  status: 0,
                  statusText: '',
                },
              ],
            },
            orderId: 0,
          }
        },
      })
    </script>
  </body>
</html>
