<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人收货地址</title>
    <script src = "../js/vue.js"></script>
    <script src = "../element-ui/lib/index.js"></script>
    <script src = "../js/axios-0.18.0.js"></script>
    <link rel = "stylesheet" href = "../element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../css/usersAddress.css">
</head>
<body>
    <div id="PersonalAddress" class="PersonalAddress">
        <!--  地址添加表单  -->
        <el-dialog
                title="新增地址"
                :visible.sync="addAddressVisible"
                width="50%"
        >
            <el-form ref="form" :model="addAddressForm" label-width="80px">
                <el-form-item label="联系人">
                    <el-input v-model="addAddressForm.contacts"></el-input>
                </el-form-item>
                <el-form-item label=联系人手机号码>
                    <el-input v-model="addAddressForm.contactsPhone"></el-input>
                </el-form-item>
                <el-form-item label="收货地址">
                    <el-cascader
                            v-model="addAddressForm.prefixAddress"
                            :options="pcaTextArr"
                            :props="{ expandTrigger: 'hover' }"
                            style="width: 40%"
                            @change="prefixAddressChange">
                    </el-cascader>
                    <el-input
                            v-model="addAddressForm.detailAddress"
                            placeholder="请输入详细地址"
                            style="width: 50%"
                            @change="detailAddressChange">
                    </el-input>
                </el-form-item>
                <el-form-item label="标签">
                    <el-input type="textarea" v-model="addAddressForm.tag"></el-input>
                </el-form-item>
                <el-form-item label="是否设为默认">
                    <el-input type="textarea" v-model="addAddressForm.default"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="addAddress">确定添加</el-button>
                    <el-button @click="handleCancel">取消</el-button>
                </el-form-item>
            </el-form>
        </el-dialog>
        <!--  地址编辑表单  -->
        <el-dialog
                title="新增地址"
                :visible.sync="searchAddressVisible"
                width="50%"
        >
            <el-form ref="form" :model="updateAddressForm" label-width="80px">
                <el-form-item label="联系人">
                    <el-input v-model="updateAddressForm.contacts"></el-input>
                </el-form-item>
                <el-form-item label=联系人手机号码>
                    <el-input v-model="updateAddressForm.contactsPhone"></el-input>
                </el-form-item>
                <el-form-item label="收货地址">
                    <el-cascader
                            v-model="updateAddressForm.prefixAddress"
                            :options="pcaTextArr"
                            :props="{ expandTrigger: 'hover' }"
                            style="width: 40%"
                            @change="prefixAddressChange">
                    </el-cascader>
                    <el-input
                            v-model="updateAddressForm.detailAddress"
                            placeholder="请输入详细地址"
                            style="width: 50%"
                            @change="detailAddressChange">
                    </el-input>
                </el-form-item>
                <el-form-item label="标签">
                    <el-input type="textarea" v-model="updateAddressForm.tag"></el-input>
                </el-form-item>
                <el-form-item label="是否设为默认">
                    <el-input type="textarea" v-model="updateAddressForm.default"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="upadteAddress">确定修改</el-button>
                    <el-button @click="handleCancel">取消</el-button>
                </el-form-item>
            </el-form>
        </el-dialog>
        <!--  个人中心之地址管理界面  -->
        <el-container>
            <!--表头-->
            <el-header
                    style="text-align: center;
                    background-color: rgb(252,239,230);
                    margin-bottom: 5%">
                <h1>收货地址</h1>
            </el-header>
            <!--侧边导航栏+主要内容-->
            <el-container>
                <!--侧边导航栏-->
                <el-aside
                        border
                        style="width: 10%;background-color: rgb(252,239,230);">
                    <el-row>

                    </el-row>
                </el-aside>
                <!--对应内容-->
                <el-main class="AddressTable">
                    <el-button
                            type="primary"
                            round
                            style="
                                width: 10%;
                                height: 10%;
                                margin: 0 0 1% 90%"
                            @click="handleAdd">
                        添加新地址
                    </el-button>
                    <el-table
                            :data="tableData"
                            style="width: 100%">
                        <el-table-column
                                prop="contacts"
                                label="联系人"
                                min-width="5%">
                        </el-table-column>
                        <el-table-column
                                prop="contactsPhone"
                                label="联系人手机号码"
                                min-width="10%">
                        </el-table-column>
                        <el-table-column
                                prop="address"
                                label="地址"
                                min-width="30%">
                        </el-table-column>
                        <el-table-column
                                prop="tag"
                                label="标签"
                                min-width="10%">
                        </el-table-column>
                        <el-table-column
                                prop="default"
                                label="是否为默认"
                                min-width="10%">
                        </el-table-column>
                        <el-table-column
                                label="操作"
                                min-width="20%">
                            <template slot-scope="scope">
                                <el-button
                                        type="primary"
                                        icon="el-icon-edit"
                                        circle
                                        @click="handleUpdate(scope.row)">编辑</el-button>
                                <el-button
                                        type="danger"
                                        icon="el-icon-delete"
                                        circle
                                        @click="deleteAddress(scope.row)">删除</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <el-pagination
                            @current-change = "handleCurrentChange"
                            @size-change = "handleSizeChange"
                            :current-page = "pagination.current"
                            :page-size = "pagination.pageSize"
                            :background = "true"
                            layout = "total, prev, pager, next, jumper"
                            :total = "pagination.total">
                    </el-pagination>
                </el-main>
            </el-container>
        </el-container>
    </div>
    <script src="https://unpkg.com/element-china-area-data@6.0.0/dist/element-china-area-data.iife.js"></script>
    <script>
        let detailAddressFormat = /^[a-zA-Z0-9_\u4e00-\u9fa5]$/

        new Vue({
            el:"#PersonalAddress",


            methods: {
                //查询当前用户个人的所有地址
                selectPersonalAddress() {

                },
                //重置表单
                resetForm(){
                    this.addAddress = {}
                    this.updateAdress = {}
                },
                //省市区信息发生变化 触发
                prefixAddressChange () {
                    console.log(this.addAddress.prefixAddress)
                },
                //详细地址发生变化 触发
                detailAddressChange() {
                    console.log(this.addAddress.detailAddress)
                },
                //管理添加按钮
                handleAdd() {
                    this.addAddressVisible = true
                    this.resetForm()
                },
                //管理编辑按钮
                handleUpdate() {
                    this.searchAddressVisible = true
                    this.resetForm()
                },
                //管理表单中的取消按钮
                handleCancel() {
                    this.addAddressVisible = false
                    this.searchAddressVisible = false
                },
                //分页管理
                handleCurrentChange(val) {
                    this.pagination.current = val
                    this.selectByPage()
                },
                handleSizeChange(val) {
                    this.pagination.pageSize = val
                    this.selectByPage()
                },
                //添加地址
                addAddress() {

                },
                //修改地址
                upadteAddress() {

                },
                //删除地址
                deletelAddress(row) {
                },
            },

            //钩子函数，进去页面就会执行查询所有
            created() {
                this.selectPersonalAddress();
            },

            data() {
                return {
                    //添加、搜索表单弹窗默认不可见
                    addAddressVisible: false,
                    searchAddressVisible: false,
                    //省市区
                    codeToText: elementChinaAreaData.codeToText,
                    pcaTextArr: elementChinaAreaData.pcaTextArr,
                    //添加表单数据
                    addAddressForm: {
                        contacts: '',
                        contactsPhone: '',
                        prefixAddress: [],
                        detailAddress: '',
                        tag: '',
                        default: ''
                    },
                    //修改表单数据
                    updateAddressForm: {
                        contacts: '',
                        contactsPhone: '',
                        prefixAddress: [],
                        detailAddress: '',
                        tag: '',
                        default: ''
                    },
                    //分页管理数据
                    pagination: {
                        current: 1,
                        pageSize: 10,
                        total: 0,
                    },
                    tableData: [{
                        contacts: '王小虎',
                        contactsPhone: '18929338160',
                        address: '上海市普陀区金沙江路 1518 弄',
                        tag: '家',
                        default: 0,
                    }, {
                        contacts: '王小虎',
                        contactsPhone: '18929338160',
                        address: '上海市普陀区金沙江路 1518 弄',
                        tag: '家',
                        default: 0,
                    }, {
                        contacts: '王小虎',
                        contactsPhone: '18929338160',
                        address: '上海市普陀区金沙江路 1518 弄',
                        tag: '家',
                        default: 0,
                    }, {
                        contacts: '王小虎',
                        contactsPhone: '18929338160',
                        address: '上海市普陀区金沙江路 1518 弄',
                        tag: '家',
                        default: 0,
                    }, {
                        contacts: '王小虎',
                        contactsPhone: '18929338160',
                        address: '上海市普陀区金沙江路 1518 弄',
                        tag: '家',
                        default: 0,
                    }, {
                        contacts: '王小虎',
                        contactsPhone: '18929338160',
                        address: '上海市普陀区金沙江路 1518 弄',
                        tag: '家',
                        default: 0,
                    }, {
                        contacts: '王小虎',
                        contactsPhone: '18929338160',
                        address: '上海市普陀区金沙江路 1518 弄',
                        tag: '家',
                        default: 0,
                    }]
                }
            },
        })
    </script>
</body>
</html>