body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

a {
    text-decoration: none; /* 移除链接下划线 */

}

.el-header, .el-footer {
    background-color: #202124;
    text-align: center;
    line-height: 60px;
}
  
.el-aside {
    text-align: center;
    line-height: 200px;
}

.el-main {
    text-align: center;
    /*line-height: 160px;*/
}

body > .el-container {
    margin-bottom: 40px;
}


.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
    line-height: 260px;
}

.el-container:nth-child(7) .el-aside {
    line-height: 320px;
}

.el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 200px;
    margin: 0;
}

.el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
}

ul,li {
    list-style: none;
    margin:0;
    padding:0;
}

ul>li {
    height: 40px;
    line-height: 40px;
    padding-left:10px;
    text-align: center;
    cursor: pointer;
}

.main-left {
    float: left;
    width: 200px;
    background-color: #fefefe;
}

.main-left li a {
    color: #000;
    font-size: 18px;
}
.main-left li:hover{
    background-color: #d9d9d9;
}
.main-left li a:hover{
    text-decoration: underline;
}

.main-top {
    height: 150px;
    width: 95%;
    background-color: #ffffff;
    padding-top: 50px;
    padding-left: 50px;
}

.main-top img {
    float: left;
    width: 100px;
    height: 100px;
}

.discount {
    background-color: #ffffff;
    margin-top: 30px;
}

.discount-h {
    padding: 20px 0;
    font-size: 30px;
    font-weight: bold;
}
.discount-w {
    height: 50px;
}

.time {
    font-size: 13px;
    color: #999;
  }
  
.bottom {
margin-top: 13px;
line-height: 12px;
}

.button {
padding: 0;
float: right;
}

.image {
    width: 100%;
    display: block;
    cursor: pointer;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both
}

.demo-form-inline {
    .el-form-item {
        .el-input {
            width: 600px;
        }
    }
}

.users {
    float: right;
    color: #ffffff;
    cursor: pointer;
}
.users-right {
    float: right;
    color: #ffffff;
    cursor: pointer;
    margin-left: 12px;
}

.discount-w{
    color: #e1251b;
    text-align: left;
}

.el-card {
    height: 420px;
}

.el-image__inner{
    width: 840px;
}

.discount-w a{
    color: #666666;
    font-size: 15px;
    cursor: pointer;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.discount-w a:hover{
    color: #6b9eff;
}
.orderSearch li {
    float: left;
    padding-left: 15px;
}
.orderSearch a {
    color: #333333;
}

.orderSearch a:hover {
    color: #b81919;
}

.orderSearch {
    display: flex;
    justify-content: space-around;
}

.orderSearch .demo-form-inline {
.el-form-item {
.el-input {
    margin-left: 40/0px;
    width: 300px;
}
}
}
.orderSearch .demo-form-inline {
.el-form-item {
    float: left;
}
}

.status {
    color: #b81919 !important;
    font-weight: bold;
    text-decoration: underline;
}

/*卡片高度*/
.box-card {
    height: 380px;
}