.content {
    // 全局元素居中
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.order-title {
    text-align: center;
    padding-bottom: 30px;
    font-size: 32px;
    font-weight: bold;
    padding-top: 30px;
}
.order-btn {
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
    padding-left: 100px;
    margin-bottom: 10px;
}
.order-btn2 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.order-com {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}
.order-com-item {
    padding: 10px 30px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}
.order-add {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}
.order-input {
    margin-left: 20px;
    margin-right: 20px;
}

.input-with-select .el-input-group__prepend {
background-color: #fff;
}
.order-search11 {
    display: flex;
    justify-content: start;
}
.order-info {
    display: flex;
    justify-content: start;
    padding-left: 16%;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}
.order-info-item {
    width: 25%;
    font-size: 16px;
    font-weight: bold;
}
.address {
    padding: 15px 40px;
    margin: 20px 300px;
    border: 1px #ccc solid;
    border-radius: 10px;
}