img {
    width: 90px;
    height: 80px;
}

form {
    padding: 25px;
}

.el-button--warning.is-plain {
    color: #E6A23C;
    background: #fdf6ec;
    border-color: #f5dab1;
    width: 300px;
}

.header {
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    margin: 20px auto;
    padding: 20px;
    width: 600px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.right {
    margin-left: 110px;
    color: #666666;
    text-decoration: none;
}

.form-container a {
    color: #666666;
    text-decoration: none;
    cursor: pointer;
}

.form-container a:hover {
    color: #359cec;
    text-decoration: underline;
}
