body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.el-header, .el-footer {
    background-color: #202124;
    text-align: center;
    line-height: 60px;
}

.users {
    float: right;
    color: #ffffff;
    cursor: pointer;
}

.users-right {
    float: right;
    color: #ffffff;
    cursor: pointer;
    margin-left: 12px;
}

.info {
    margin-top: 10px;
    margin-left: 100px;
    width: 600px;
    height: 300px;
    float: left;
}

.changePhone {
    color: #b81919;
    text-decoration: none;
    cursor: pointer;
}

.changePhone:hover {
    color: #359cec;
    text-decoration: underline;
}

.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.avatar-uploader .el-upload:hover {
    border-color: #409EFF;
}

.avatar-uploader-icon {
    font-size: 0;
    width: 170px;
    height: 150px;
    text-align: center;
}

.avatar {
    width: 150px;
    height: 150px;
    display: block;
}

.addressDiv{
    margin-top: 170px;
    width: 600px;
    float: left;
    padding-left: 5px;
}

.orderDiv {
    width: 100%;
    float: left;
    display: flex;
    padding-left: 100px;
}

.innerDiv {
    width: 150px;
    height: 250px;
    background-color: #ffffff;
}
.innerDiv-head {
    height: 40px;
    line-height: 40px;
    padding-left: 30px;
    font-size: 18px;
    border-bottom: solid #eeeeee;
}
.innerDiv-body {

}

.innerDiv a div:hover{
    color: #cf9236;
}

.innerDiv-icon {
    padding-top: 20px;
    padding-left: 30px;
    font-size: 80px;
    color: black;
}
.text {
    color: #666;
    font-size: 14px;
    text-align: center;
    padding-left: 40px;
}
