img {
    width: 90px;
    height: 80px;
}

form {
    padding: 25px;
}

.el-button--warning.is-plain {
    color: #E6A23C;
    background: #fdf6ec;
    border-color: #f5dab1;
    width: 300px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px 0;
}

.form-container {
    margin: auto;
    padding: 30px;
    width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.right {
    margin-left: 110px;
    color: #666666;
    text-decoration: none;
}

.form-container a {
    color: #666666;
    text-decoration: none;
    cursor: pointer;
}

.form-container a:hover {
    color: #359cec;
    text-decoration: underline;
}
